.cardstyle ion-list{
	max-height: 200%;
}

.cardstyle h1{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #000000;
}

.cardstyle ion-item{
	height: 80px;
}

ion-avatar{
	text-align: center;
}

ion-avatar img{
	margin: auto;
}